<style>
* {
  box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

table.redTable {
	float: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 2px solid #deb887;
  background-color: #EEE7DB;
  padding: 30px 0 30px 0;
  width: 100%;
  height: 500px;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 4px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #deb887;
}
table.redTable thead {
  background: #deb887;
  background: -moz-linear-gradient(top, #7fa4bb 0%, #6692ad 66%, #5586A4 100%);
  background: -webkit-linear-gradient(top, #7fa4bb 0%, #6692ad 66%, #5586A4 100%);
  background: linear-gradient(to bottom, #7fa4bb 0%, #6692ad 66%, #5586A4 100%);
  border-bottom: 1px solid #444444;
}
table.redTable thead th {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #deb887;
}

table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background: #deb887;
}
table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #5586A4;
  padding: 2px 8px;
  border-radius: 5px;
}

input#name{ background-image: url("nama.png");}
input#add{ background-image: url("add2.png");}
input#mail{ background-image: url("email.png");}
input#phone{ background-image: url("phone.png");}
input#psword{ background-image: url("pass.png");}
input#cpassword{ background-image: url("repass.png");}

header, section, footer, aside, nav, article, figure, figcaption {
display: block;}

body{
font-family: Arial, Helvetica, sans-serif;
color: #666666;
background-color: #;
background-image: url("tm4.jpg");}

.wrapper{  
width: 1120px;
margin: 20px auto 20px auto;;
border: 1px solid #000000;
background-color: #ffffff;}

h1{
text-indent: 9px;
width: 940px;
height: 230px;
margin: 0px;}

footer {
position:fixed;
float: center;
clear: both;
color: black;
background-color: #b2b2b2;
height: 50px;
text-align: center;
padding: 16px 16px;

padding: 7px 0px 0px 20px;}

nav{
clear: both;
color: black;
background-color: #b2b2b2;
height: 50px;
text-align: center;
padding: 16px 16px;}

nav ul {
margin: 0px;
padding: 14px 16px;}

nav li{
display: inline;
margin-right: 40px;}

nav li a{
color: #ffffff;}

li a:hover:not(.active) {
background-color: #993366;
color: white;
padding: 14px 16px;
}

article{
clear: both;
overflow: auto;
width: 100%;}

hgroup{
margin-top: 40px;
color: black;}

figure{
float: left;
width: 268px;
height: 532px;
padding: 0px;
margin: 30px;
border: 3px solid #eeeeee;}

figcaption{
font-size: 90%;
text-align: center;}

aside{
float: right;
width: 230px;
float: left;
padding: 0px 0px 0px 20px;}

a{ text-decoration: none;}

p { text-align: center; }

h1, h2, h3 {
font-weight: normal;}

h2{ margin: 10px 0px 5px 0px;
padding: 0px;}

aside h2 {
padding: 30px 0px 10px 0px;
color: #990033;}


h2 {text-align: center;}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container { max-width: 800px; position: relative;
margin: auto;
}
.mySlides {display: none;}

/* Next & previous buttons */
.prev, .next {cursor: pointer; position: absolute; top: 50%;
width: auto; margin-top: -22px; padding: 16px; color: white;
font-weight: bold; font-size: 18px; transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {right: 0; border-radius: 3px 0 0 3px;}
.prev {left: 0; border-radius: 3px 0 0 3px;}
/* On hover, add a black background color with a little bit seethrough
*/
.prev:hover, .next:hover {background-color: rgba(0,0,0,1);}

/* Caption text */
.text { color: #f2f2f2; font-family: Arial; font-size: 15px;
padding: 8px 12px; position: absolute; bottom: 8px;
width: 100%; text-align: center;}

/* Number text (1/3 etc) */
.numbertext { color: #f2f2f2; font-size: 12px;
padding: 8px 12px; position: absolute; top: 0;}

/* The dots/bullets/indicators */
.dot { cursor:pointer; height: 13px; width: 13px; margin: 0 2px;
background-color: #bbb; border-radius: 50%;
display: inline-block; transition: background-color 0.6s ease;}
.active, .dot:hover { background-color: #717171;}

/* Fading animation */
.fade { -webkit-animation-name: fade; -webkit-animation-duration:
1.5s; animation-name: fade; animation-duration: 1.5s;}

@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1}}
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 210px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 180px;
    height: 150px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

img {border-radius: 25px;
float: center; }

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  color: black;
  background-image: url(".jpg");
  background-color: white;
  padding: 30px 0 30px 0;
} 

/* bottom container */
.bottom-container {
  text-align: center;
  width: 850px;
  opacity: 0.9;
  filter: Alpha(opacity=45);
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* style inputs and link buttons */
input,
.btn {
  width: 60px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.column {
float: center;
padding: 25px;
column-gap: 50px;
row-gap:30px; 
border-radius: 25px;
}

.columnn {
padding: 25px; 
color: white;
border-radius:25px;
width: 900px;
float: center;
height: 1000px;
}

.columnnn {
padding: 25px; 
color: white;
border-radius:25px;
width: 100%;
float: center;
height: 100%;
}

.column.side {
    width: 50%;
}

.column.middle {
float: center;
color: white;
    border-radius: 25px;
    padding: 15px; 
    width: 500px;
    height: 800px;
    text-align: left;
    background-color: #252b39;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    resize: vertical;
    background-repeat:no-repeat;
    background-position: 5px 5px;
} 
</style>